{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

    {% if form.errors %}
        <p>Your username and password does not match. Please try again</p>
    {% endif %}
    <style>
        #login{
            padding: 1rem;
        }
    </style>
    <form action="{% url 'users:login' %}" id="login" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Log-in</button>
        <input type="hidden" name="next" value="{% url "learning_log:index" %}">
    </form>
{% endblock content %}